<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)"> <!--recarrega a pagina novamente-->
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab top right edge>
    <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button> <!--botao que vai para página de carrinho-->
  </ion-fab>

  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showDetail(item.id)"> <!-- percorre a lista dos produtos -->

      <ion-thumbnail item-start>
        <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      
      <h2>{{item.nome}}</h2>
      <p>{{item.preco | currency}}</p> <!--currency é um pipe para formatar numero em estilo moeda-->
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="finalScroll == false"> <!--ionInfinite é um bind de evento-->
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>
